.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    margin: 0px auto;
}

.item-form {
    width: 400px;
    margin: 10px;
    font-family: "Amatic SC";
    font-size: 1.3em;
    font-weight: bold;

}

.select-item {
    width: 300px;
}

.disabled-item {
    display: none;
}

.date-form {
    display: flex;
    flex-direction: row;
    width: 300px;
    margin: 10px;
    justify-content: space-between;
    font-family: "Amatic SC";
    font-size: 1.2em;
    font-weight: bold;


}

.date-month {
    width: 90px;
}

.date-item {
    width: 90px;
    height: 47px;
    align-self: center;
}

.form-title {
    font-family: "Amatic SC";
    font-size: 3.5em;
    font-weight: bold;
}

.submit-button {
    width: 30%;
    height: 50px;
    margin: 10px;
    background-color: $color-green;
    color: white;
    border-radius: 5px;
    width: 50%;
    font-family: "Amatic SC";
    font-size: 1.2em;
    font-weight: bold;

}
