header {
    @extend .paper;
    position: relative;
    z-index: 10;
}


.page-logo {
  margin-left: 25px;
  cursor: pointer;
  // margin-right: auto;
}


.page-header {
    margin: 0;
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #fafafa;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;

    box-shadow:
    &__notification,
    &__link {
        color: black;
        margin: 0;

    }

    &__user-menu-content__sidebar {
      display: none;
    }

    &__link {
        text-decoration: none;
        font: 1.9em 'Amatic SC', cursive;
        font-weight: bold;
        color: black;
        height: 100%;
        align-self: flex-start;
        background-color: #fafafa;
        margin-right: 3%;
    }

    &__link:first-of-type {
         margin-left: auto;
    }
    &__link:last-of-type {
         margin-right: 20px;
    }



    @keyframes linkdarken {
        from {background-color: white;}
        to {background-color: #eee;}
    }


    &__link:hover {
        color: black;
        animation: linkdarken 300ms;
        animation-fill-mode: forwards;
    }


    &__notification:hover {
        color: black;
    }


    &__user-menu-icon {
        text-align: center;
        background-color: #eee;
        margin-top: -8px;
        i {
            font-size: 2em;
        }
    }

    &__user-menu-title {
        margin: 10px;
        h1 {
            font-size: 1.2em;
            font-weight: bold;
        }
    }

    &__special-buttons {
      display: flex;
      background-color: #fafafa;
      align-items: center;
      justify-content: space-between;
      width: 100px;
    }

    &__notification {
      background-color: transparent;

    }

}


.dropdown {
    position: relative;
    display: flex;
    background-color: #fafafafa;
    width: 80px;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 30px;
    box-shadow: 0px 4px 8px 0px black;
    padding: 12px 16px;
    z-index: 1;
    margin-top: 5%;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

// .dropdown-text {
//   font: 6em 'Amatic SC', cursive;
//   align-self:
// }

// .user-menu-button-text {
//   margin-left: 5px;
// }


.mobile-button{
  display: none;

  &__fonts {
    font-family: "Roboto";
    margin-bottom: 3px;
    font-size: 1.2em;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
  }

  &__fonts:first-of-type {
    margin-top: 20px;
  }


  &__item:Hover {
    cursor: pointer
  }

  &__fonts-title {
    font-family: "Amatic SC";
    font-weight: bold;
    margin-left: 20px;
  }



}

  .action-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }



@media (max-width: $breakpoint-large-screen) {
  .page-header {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .dropdown {
      display: none;
    }


    &__link {
      display: none;
    }


    &__user-menu {
        paper-listbox {
            min-width: 250px;
        }
    }

    &__user-menu-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        height: 70vh;

        &__sidebar {
          display: inherit;
          flex-direction: column;
        }
    }


  }

  .page-logo {
      margin: auto auto 10px 10px;
      width: 40%;
      height: auto;
  }

  .page-header__user-menu-button{
      display: none;
  }

  .page-header__notification {
    margin: auto;
  }

  .mobile-button{
    display: flex;
    background-color: transparent;
    margin-bottom: 5px;

    &__fonts:first-of-type {
      margin-top: 0px;
    }

    &__fonts {
      font-family: "Roboto";
      font-size: 1em;
      margin-bottom: 28px;
    }

    &__item:first-of-type {
      margin-top: 15px;
    }

    &__item:Hover {
      cursor: pointer;
    }

    &__fonts-title {
      font-family: "Amatic SC";
      font-weight: bold;
      margin-left: 20px;
    }
}

}
